* {
    background-color: bisque;
}
ul, ol, p, h1, h2{
    font-family: 'Courier New', Courier, monospace;
    margin: 100px;
}
h1 {
    margin-bottom: 0px auto;
}
a {
    color:black;
}
li {
    text-align: left;
    padding-bottom: 30px;
}
.break {
    background-color: black;
}
#recipe-name {
    font-weight: bold;
    font-family: cursive;
    font-size: 40px;
}
.subheading {
    font-weight: bold;
    font-family: cursive;
    font-size: 30px;
}
.text {
    font-size: 20px;
}
.return {
    color: white;
    text-align: left;
}
img {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: auto;
}